    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: auto;
    }

    #everything{
        margin: 20px;
    }

    header {
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
<<<<<<< HEAD
        text-decoration: none;
        color: rgba(9, 6, 6, 0.829);
    }

    nav {
        text-align: center;
=======
        color:rgba(255, 255, 255, 0.829);
        background-color: black;
    }

    header>h4{
        font-size: 33px;
        margin-bottom: 2%;
    }

    abbr{
        text-decoration: none;
>>>>>>> f734fc963de090be73ffad2092b46c77c90629cd
    }

    nav a {
        text-decoration: none;
        display: inline-block;
<<<<<<< HEAD
        padding: 10px;
        margin: 5px;
        background-color: rgb(136, 64, 204);
        color: white;
        border-radius: 5px;
=======
        margin-bottom: 5px;
        color:rgba(255, 255, 255, 0.829);
>>>>>>> f734fc963de090be73ffad2092b46c77c90629cd
        transition: background-color 0.3s ease;
        padding: 10px;
        border-right: 1px solid white;
    }


    #nav_buttons a:last-child {
        border-right: none;
      }

    nav a:hover {
        color:rgb(255, 255, 255)
    }

<<<<<<< HEAD
    figure image {
        float: inline-start;
        margin-left: 160px;
        margin-right: 100px;
        margin-bottom: 30px;
    }

    figcaption {
        text-align: center;
    }

    form {
        text-align: center;
    }

    form label {
=======
    img{
        float: inline-start;
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    figcaption{
        text-align: justify;
        font-size: small;
    }

    .user_pw{
        padding: 9px;
        width: 100%;
        box-sizing: border-box;
        border:none;
        border-bottom: 2px solid rgb(93, 93, 93);
    }

    #username_container, #password_container{
        text-align: left;
    }

    form{
        margin: 0 auto;
        width: 300px;
        padding:15px;
        border: 2px solid black;
        border-radius: 20px;
        color: black;
    }

    form>h3{
        text-align: center;
    }

    #male_container, #female_container{
>>>>>>> f734fc963de090be73ffad2092b46c77c90629cd
        display: block;
        margin-bottom: 1px;
        text-align: center;
    }

    input[type="radio"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid #000;
        border-radius: 50%;
        margin-right: 4px;
        outline: none;
    }
    
    input[type="radio"]:checked {
        background-color: black;
        border-color: rgb(195, 194, 194);
    }

    #submit_container {
        font-weight: bold;
        text-align: center;
        color:rgba(255, 255, 255, 0.829);
        background-color: black;
        padding: 10px 20px; 
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-align: center;
        width: 100%;
    }

<<<<<<< HEAD
    table {
        width: 50%;
        border-collapse: collapse;
        margin: 20px auto
=======
    #submit_container:hover{
        background-color: rgb(44, 44, 44);
    }   

    table{
        width: 50%; border-collapse: collapse; margin: 20px auto
>>>>>>> f734fc963de090be73ffad2092b46c77c90629cd
    }

    table th,
    table td {
        border: 1px solid black;
        padding: 8px;
    }

    audio,
    video {
        text-align: center;
        margin: 0 auto;
        display: block;
    }

<<<<<<< HEAD
    footer {
        text-align: center;
        padding: 10px;
        font-family: 'Courier New', Courier, monospace;
    }
=======
    p{
        font-size: small;
    }

    iframe{
        border: 0;
    }

    footer{
        padding: 5px;
        font-family: 'Courier New', Courier, monospace;
        font-size: smaller;
        text-align: center;
        color:rgba(255, 255, 255, 0.829);
        background-color: black;
      }
>>>>>>> f734fc963de090be73ffad2092b46c77c90629cd
