    
    body{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: auto;
    }

    #everything{
        margin: 20px;
    }

    header{
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        color:rgba(255, 255, 255, 0.829);
        background-color: black;
        padding: 1px;
    }

    abbr{
        text-decoration: none;
    }

    nav a{
        text-decoration: none;
        display: inline-block;
        padding: 10px;
        margin: 5px;
        background-color: black;
        color:rgba(255, 255, 255, 0.829);
        border-radius: 10px;
        transition: background-color 0.3s ease;
    }

    nav a:hover {
        background-color: rgb(44, 44, 44);
    }

    img{
        float: inline-start;
        max-width: 100%;
        height: auto;
        padding:10px
    }

    figcaption{
        text-align: center;
    }

    .user_pw{
        padding: 9px;
        width: 100%;
        box-sizing: border-box;
        border:none;
        border-bottom: 2px solid rgb(93, 93, 93);
    }

    #username_container, #password_container{
        text-align: left;
    }

    form{
        margin: 0 auto;
        width: 300px;
        padding:15px;
        border: 2px solid black;
        border-radius: 20px;
        color: black;
    }

    form>h3{
        text-align: center;
    }

    #male_container, #female_container{
        display: block;
        margin-bottom: 1px;
        text-align: center;
    }

    input[type="radio"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid #000;
        border-radius: 50%;
        margin-right: 4px;
        outline: none;
    }
    
    input[type="radio"]:checked {
        background-color: black;
        border-color: rgb(195, 194, 194);
    }

    #submit_container{
        font-weight: bold;
        text-align: center;
        color:rgba(255, 255, 255, 0.829);
        background-color: black;
        padding: 10px 20px; 
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-align: center;
        width: 100%;
    }

    #submit_container:hover{
        background-color: rgb(44, 44, 44);
    }

    table{
        width: 50%; border-collapse: collapse; margin: 20px auto
    }

    table th, table td{
        border: 1px solid black; padding: 8px;
    }

    audio, video {
        text-align: center;
        margin: 0 auto;
        display: block;
      }

      footer{
        padding: 5px;
        font-family: 'Courier New', Courier, monospace;
        font-size: smaller;
        text-align: center;
        color:rgba(255, 255, 255, 0.829);
        background-color: black;
      }