    
    body{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 20px;
        margin-right: 20px;
    }

    header{
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        text-decoration: none;
        color:rgba(9, 6, 6, 0.829);
    }

    nav{
        text-align: center;
    }

    nav a{
        text-decoration: none;
        display: inline-block;
        padding: 10px;
        margin: 5px;
        background-color: rgb(136, 64, 204);
        color:white;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    nav a:hover {
        background-color: rgb(108, 51, 162);
    }

    figure image{
        float: inline-start;
        margin-left: 160px; margin-right: 100px; margin-bottom: 30px;
    }

    figcaption{
        text-align: center;
    }

    form{
        text-align: center;
    }

    form label{
        display: block;
        margin-bottom: 10px;
    }

    #submit_container{
        font-weight: bold;
    }
    table{
        width: 50%; border-collapse: collapse; margin: 20px auto
    }

    table th, table td{
        border: 1px solid black; padding: 8px;
    }

    audio, video {
        text-align: center;
        margin: 0 auto;
        display: block;
      }

      footer{
        text-align: center;
        padding: 10px;
        font-family: 'Courier New', Courier, monospace;
      }