    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: auto;
    }

    #everything{
        margin: 20px;
    }

    header {
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        text-decoration: none;
        color: rgba(9, 6, 6, 0.829);
    }

    nav {
        text-align: center;
    }

    nav a {
        text-decoration: none;
        display: inline-block;
        padding: 10px;
        margin: 5px;
        background-color: rgb(136, 64, 204);
        color: white;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        padding: 10px;
        border-right: 1px solid white;
    }


    #nav_buttons a:last-child {
        border-right: none;
      }

    nav a:hover {
        color:rgb(255, 255, 255)
    }

    figure image {
        float: inline-start;
        margin-left: 160px;
        margin-right: 100px;
        margin-bottom: 30px;
    }

    figcaption {
        text-align: center;
    }

    form {
        text-align: center;
    }

    form label {
        display: block;
        margin-bottom: 1px;
        text-align: center;
    }

    input[type="radio"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid #000;
        border-radius: 50%;
        margin-right: 4px;
        outline: none;
    }
    
    input[type="radio"]:checked {
        background-color: black;
        border-color: rgb(195, 194, 194);
    }

    #submit_container {
        font-weight: bold;
        text-align: center;
        color:rgba(255, 255, 255, 0.829);
        background-color: black;
        padding: 10px 20px; 
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        text-align: center;
        width: 100%;
    }

    table {
        width: 50%;
        border-collapse: collapse;
        margin: 20px auto
    }

    table th,
    table td {
        border: 1px solid black;
        padding: 8px;
    }

    audio,
    video {
        text-align: center;
        margin: 0 auto;
        display: block;
    }

    footer {
        text-align: center;
        padding: 10px;
        font-family: 'Courier New', Courier, monospace;
    }
